:root{
        --light-blue: #A5C6C8ff;
        --cadet-gray: #869EAAff;
        --seasalt: #F6F7F6ff;
        --moss-green: #97A678ff;
        --dark-moss-green: #44522Dff;
}

body{
    background-color: var(--moss-green);
    text-align: center;
    font-size: larger;
}
p{
    font-family: "Quicksand", serif;;
    color: var(--seasalt);
    text-align: center;
}
section{
    text-align: center;
    font-family: "Quicksand", serif;;
    color: var(--dark-moss-green);
}
div{
    background-color: var(--cadet-gray);
    margin: 0px;
    padding: 2%;
    position:sticky
}
#box{
    background-color: var(--moss-green);
    display: flex;
}

a{
    text-align: center;
    color: var(--light-blue);
    text-decoration: none;
    font-family: "Quicksand", serif;
}
a:hover{
    color: var(--light-blue);
}
a:active{
    color: var(--seasalt);
}

footer{
    background-color: var(--cadet-gray);
    margin: 0px;
    padding: 0px;
}


h3{ font-family: "Quicksand", serif;;
    color:var(--dark-moss-green)
}