:root{
    --light-blue: #A5C6C8ff;
    --cadet-gray: #869EAAff;
    --seasalt: #F6F7F6ff;
    --moss-green: #97A678ff;
    --dark-moss-green: #44522Dff;
}
body{
    background-color: var(--light-blue);
    font-family: "DynaPuff", serif;
}
input{
    color: var(--dark-moss-green);
    font-family: "DynaPuff", serif;
}
form{
    text-align: center;
    font-family: "DynaPuff", serif;
}

html{
    font-family: "DynaPuff", serif;
}

h2{
    color:var(--cadet-gray);
    font-family: "DynaPuff", serif;
}

footer{
    background-color: var(--cadet-gray);
    color: var(--dark-moss-green);
    font-size: larger;
}